<!-- This template receives geojson -->
<ion-view cache-view="false" title="{{ object.properties.name }}" ng-init="tab=1">
  <div class="tabs tabs-striped tabs-top tabs-positive tabs-color-light">
    <a title="Info" class="tab-item" ng-class="{active: tab==1}" ng-click="tab=1"><i class="icon ion-information"></i>Info</a>
    <a title="Mapa" class="tab-item" ng-class="{active: tab==2}" ng-click="tab=2"><i class="icon ion-map"></i>Mapa</a>
    <a title="Comentários" class="tab-item" ng-class="{active: tab==3}" ng-click="tab=3"><i class="icon ion-chatbox"></i>Comentários</a>
  </div>

  <ion-content class="has-header has-tabs-top" overflow-scroll="true" ng-show="tab==1">
    <h1 class="item">{{ object.properties.name }}</h1>
    <div class="item item-body" dynamic-content="object.properties.description"></div>
  </ion-content>

  <ion-content class="has-header has-tabs-top" overflow-scroll="true" ng-show="tab==2">
    <map-view data-tap-disabled="true" geojson="object" height="100%" class="meppit-map"></map-view>
  </ion-content>

  <ion-content class="has-header has-tabs-top" overflow-scroll="true" ng-show="tab==3">
    <div ng-include src="'js/comments/templates/comments.html'" ng-controller="commentsCtrl"></div>
  </ion-content>

</ion-view>
