.dynamic-content a {
  text-decoration: underline;
  cursor: pointer;
}

.meppit-map {
  width: 100%;
}

.item p.user-detail {
  font-size: 0.8em;
}

.leaflet-control-attribution {
  /* Remove attribution from map. We will display it at another place. */
  display: none;
}
